<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand font1" href="\" style="color: rgb(232, 232, 237);"><b>OneTap.com</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0 font1">
                <li class="nav-item lp-3">
                    <a class="nav-link active" aria-current="page" href="\" style="color: rgb(59, 171, 57);">Home</a>
                </li>

                <!-- <li class="nav-item lp-3">
                    <a class="nav-link" href="\adminproduct" style="color: rgb(59, 171, 57);">Product</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link" href="\adminservice" style="color: rgb(59, 171, 57);">Service</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link" href="\technitians" style="color: rgb(59, 171, 57);">technitians</a>
                </li> -->

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
