<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <div class="col-md-1.5">
            <div class="dropdown font1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Log in
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" routerLink="techregistration">Techs Login</button>
                    </li>
                    <li><button class="dropdown-item" type="button" routerLink="customer-login">Customer Login</button>
                    </li>
                    <li><button class="dropdown-item" type="button"></button></li>
                </ul>
            </div>
        </div>
        <div>
            <a class="navbar-brand font1" href="\" style="color: rgb(232, 232, 237);"><b>OneTap.com</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0 font1">
                <li class="nav-item lp-3">
                    <a class="nav-link active" aria-current="page" href="\" style="color: rgb(59, 171, 57);">Home</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link active" aria-current="page" href="\service"
                        style="color: rgb(59, 171, 57);">Service</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link" href="\products" style="color: rgb(59, 171, 57);">Products</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link" href="\login" style="color: rgb(59, 171, 57);">Log-in</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="email" name="email" #email1="ngModel">
                <button class="btn btn-outline-success" type="submit" (click)="Search(email)">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="col-1"></div>
<div class="col-4 shadow-lg p-3 mb-5 bg-warning rounded-3">
    <form>
        <h2 align="center">Registration Form</h2>
        <div class="mt-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name" #name1="ngModel">
        </div>
        <div class="mt-3">
            <label for="id" class="form-label">Email:</label>
            <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email" #email1="ngModel">
        </div>
        <div class="mt-3">
            <label for="id" class="form-label">Contact:</label>
            <input type="text" class="form-control" name="id" id="id" [(ngModel)]="contact"
                #id1="ngModel">
        </div>
        <div>
            <label for="id" class="form-label">Password:</label>
            <input type="password" class="form-control" name="round" id="round" [(ngModel)]="password"
                #round1="ngModel">
        </div>
        <div class="mt-3">
            <button type="submit" class="form-control btn btn-outline-success">Add</button>
        </div>
    </form>
</div>