<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="col-md-1.5">
            <div class="dropdown font1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Log in
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" routerLink="tech-login">Techs Login</button>
                    </li>
                    <li><button class="dropdown-item" type="button" routerLink="customer-login">Customer Login</button>
                    </li>
                    <li><button class="dropdown-item" type="button" routerLink="customer-login">Log in</button></li>
                    <li><button class="dropdown-item" type="button" (click)="logOut()">Log out</button></li>
                </ul>
            </div>
        </div>
        <div>
            <a class="navbar-brand font1" href="\" style="color: rgb(232, 232, 237);"><b>OneTap.com</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0 font1">
                <li class="nav-item lp-3">
                    <a class="nav-link active" aria-current="page" href="\" style="color: rgb(59, 171, 57);">Home</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link active" aria-current="page" href="\service"
                        style="color: rgb(59, 171, 57);">Service</a>
                </li>
                <li class="nav-item lp-3">
                    <a class="nav-link" href="\products" style="color: rgb(59, 171, 57);">Products</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-2 mb-5" *ngIf="t">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="../../assets/ACpic/{{service.serviceimg}}"
                            id="main_product_image" width="350"> </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            <!-- <li><img onclick="changeImage(this)" src="https://i.imgur.com/TAzli1U.jpg" width="70"></li> -->
                            <!-- <li><img onclick="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70"></li>
                            <li><img onclick="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70"></li>
                            <li><img onclick="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{service.servicename}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>Book your service on online and get our expert Technitians to get extra benifits</p>
                        <h3>Category {{service.servicecategory}}</h3>
                    </div>
                    <h2  [(ngModel)]="serviceprice">{{service.serviceprice | currency }}</h2>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                                class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i> </div>
                        <span>441 reviews</span>
                    </div>
                    <div class="mt-2"> <span class="fw-bold">Extra of labour(if ndded)</span>
                        <p>Note : we will provide 3 labour with every package, if your need extra then every labour cost
                            will be $500</p>
                        <input class="form-control" type="text" [(ngModel)]="labour" (keyup)="labourcacl()">
                    </div>

                    <div class="mt-3">
                        <h6 >Exta Labour Price : {{laboourrate | currency}}</h6>
                    </div>
                    <div class="mt-3">
                        <h6 class="my-3">Discount : {{service.servicediscount | currency}}</h6>
                        <h3>Total Packege Price : {{totalprice | currency}}</h3>
                    </div>

                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <button class="btn btn-outline-dark" (click)="next()">Book now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
 <div *ngIf="!t">
    <div class="row p-3">
        <div class="col-1"></div>
     <div class="col-4 shadow-lg p-3 mb-5 bg-success rounded-3">
           <form class="row g-3" (ngSubmit)="addApp()">
            <div class="col-md-12">
                <label for="appdate" class="form-label">Appointment date</label>
                <input type="date" class="form-control" name="appdate" [(ngModel)]="appdate">
            </div>
           <div class="col-md-12">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
            <div class="col-md-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" >
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="1234 Main St" name="Address" [(ngModel)]="address">
            </div>
            <div class="col-md-12">
                <label for="area" class="form-label">Area</label>
                <input type="text" class="form-control" placeholder="Dhanmondi" name="area" [(ngModel)]="area">
            </div>
            <div class="col-md-12">
                <label for="city" class="form-label">City</label>
                <select id="city" class="form-select" name="city" [(ngModel)]="city">
                <option selected>Dhaka</option>
                <option>Chittagong</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="post" class="form-label">Postal code</label>
                <input type="text" class="form-control" id="post" name="postcode" [(ngModel)]="postcode">
            </div>
            <div class="col-12">
                <button class="btn btn-primary">Book</button>
            </div>
            </form> 
        </div>
        <div class="col-1"></div>
    </div>
</div> 